<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
            {% if routeName %}
                {% set routeCss = 'styles/' ~ routeName ~ '.css' %}
                <link rel="stylesheet" href="{{ asset(routeCss) }}">
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <h1>Flash Card</h1>
        </header>

        <div class="content">
            {% block body %}{% endblock %}
        </div>

        <footer class="footer">
            <p>Réalisé par Nathan</p>
            <p>© 2023</p>
        </footer>
    </body>
</html>
